@charset "UTF-8";


:root{
    --cor01: ;
    --cor02: ;
    --cor03: ;

--fontpadrão: ; 
--fontdestaque:

    


}


    body{
        background-image:url(02105704740208.webp)
    
    }
    header{
        
            font-family: ;
            font-size: 20px;
            padding: 60px;
            color: rgb(3, 3, 3);
            background-color: rgba(255, 255, 255, 0.541);
            text-align: center;
            box-shadow: 1px 14px 3px -4px rgba(0, 0, 0, 0.651);
    }

    header > h1{
        


    }

    header > p {


        color: rgb(14, 13, 13)
        
    }



            
            
    nav{
    padding: 5px;
    box-shadow: 0px 7px 7px rgba(44, 44, 44, 0.527);
    background-color: rgb(112, 112, 112)
    
   
   
}

    nav > p {


    }

    nav.div{

        


    }




    main{
        
    

    }

    aside{

    }

    footer{



        

    }


