@charset "UTF-8";


:root{
    --cor01: ;
    --cor02: ;
    --cor03: ;

--fontpadrão: ; 
--fontdestaque:

    


}


    body{
        background-image: url(02105704740208.webp)
    


        
    
    }
    header{
        
            font-family: ;
            font-size: 20px;
            padding: 60px;
            
            text-align: center;
            box-shadow: 1px 14px 3px -4px rgba(0, 0, 0, 0.651);
    }

    header > h1{
              color:      


    }

    header > p {
        color: rgb(27, 27, 27)
        
    }



            
            
    nav{
        
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(44, 44, 44, 0.527);
    background-color: rgb(243, 242, 242)
    
   
   
}

nav > a {

    color: rgb(20, 20, 20);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}


    nav > p {


    }




    main{
        
    

    }

    aside{

    }

    footer{



        

    }


